
    <!--====== BANNER PART START ======-->

    <div class="page-title bg_cover mt-80 pt-140 pb-140" style="background-image: url(<?=$setting['template']?>/assets-frontend/images/Media/trangchu/Banner\ chính.jpg)">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <div class="page-title-item text-center">
                        <h3 class="title">CORE</h3>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Đặt lịch tư vấn</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--====== BANNER PART ENDS ======-->
    
       <form method="POST" action="<?= $_SERVER['REQUEST_URI'] ?>">
            <section class="consult-form">
                <div class="container-2">
                    <p class="intro">
                        <span class="quote-mark">"</span> <br>
                        Bạn đang muốn khởi nghiệp?<br>
                        Bạn đang muốn chuyển đổi và phát triển?<br>
                        Bạn đang muốn xây dựng Văn hóa Doanh nghiệp?<br>
                        Hãy để chúng tôi giúp bạn bắt đầu với buổi tư vấn 1:1 <br>
                        cùng chuyên gia.
                        <span class="quote-mark end">"</span>
                    </p>

                    <h4>1. Chọn Dịch vụ và hình thức tư vấn</h4>
                    <div class="services">
                        <div class="service-item">
                            <img src="<?=$setting['template']?>/assets-frontend/images/Media/8. Tư vấn/1.b.png" alt="Dịch vụ Doanh nghiệp">
                            <p>Dịch vụ Doanh nghiệp</p>
                        </div>
                        <div class="service-item">
                            <img src="<?=$setting['template']?>/assets-frontend/images/Media/8. Tư vấn/2B.png" alt="Tổ chức sự kiện, hội thảo">
                            <p>Tổ chức sự kiện, hội thảo</p>
                        </div>
                    </div>

                    <div class="dropdowns">
                        <select name="service_package" class="form-select " style="background: white;">
                        <option value="">Chọn gói dịch vụ</option>
                        <?php foreach ($service_packages as $item): ?>
                            <option value="<?= $item['id'] ?>">
                            <?= $item['title'] ?> (<?= $item['type'] ?>)
                            </option>
                        <?php endforeach; ?>
                        </select>
                        <select name="consult_method" class="form-select" style="background: white;">
                            <option value="">Chọn hình thức tư vấn</option>
                            <option value="online">Online</option>
                            <option value="offline">Offline</option>
                        </select>
                    </div>

                    <h4>2. Thông tin của bạn</h4>
                    <input type="text" name="name" class="form-input" placeholder="Họ và tên" style="background: white;">
                    <input type="text" name="phone" class="form-input" placeholder="Số điện thoại" style="background: white;">
                    <input type="email" name="email" class="form-input" placeholder="Email" style="background: white;">
                    <input type="text" name="name_business" class="form-input" placeholder="Tên Doanh nghiệp" style="background: white;">
                    <textarea name="note" class="form-textarea" placeholder="Vấn đề đang gặp phải và mong muốn ..." style="background: white;"></textarea>

                    <h4>3. Chọn ngày và giờ</h4>
                    <input type="date" name="date" class="form-input" style="background: white;">
                    <input type="time" name="time" class="form-input" style="background: white;">

                    <div class="btn-container-2">
                        <button type="submit" class="btn-submit" data-action="submit" data-alert="true" data-load="this">GỬI YÊU CẦU TƯ VẤN</button>
                    </div>
                    
                </div>
            </section>
        </form>





    