<!--====== PAGE TITLE PART START ======-->

<!-- <div class="page-title bg_cover mt-80 pt-140 pb-140" style="background-image: url(<?=$setting['template']?>/assets-frontend/images/Media/trangchu/Banner\ chính.jpg)">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <div class="page-title-item text-center">
                        <h3 class="title">CORE</h3>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Đổi mới sáng tạo và hội tụ văn hóa doanh nghiệp</a></li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

<!--====== PAGE TITLE PART ENDS ======-->


<!--====== OFFER PART START ======-->

<section class="offer-area bg_cover pt-110 pb-120">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-11">
                <div class="offer-content text-center">
                    <h2 class="title">Tự học - Tự tư duy - Mỗi Ngày Một Tiến Bộ!</h2>
                    <span>Nền tảng học Toán cho trẻ từ 4-11 tuổi --- tự học, cá nhân hóa, hiệu quả</span>
                    <ul>
                        <li>
                            <a type="button" class="main-btn" data-action="modal" data-url="/register-post"
                                data-bs-toggle="modal" data-bs-target=".modal-load">
                                Đăng ký học ngay
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!--====== OFFER PART ENDS ======-->

<!--====== SERVICES  PART START ======-->


<section class="services-area pb-120">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-11">
                <div class="section-title text-center">
                    <h3 class="title">Chọn Lớp – Bắt Đầu Học Ngay!</h3>
                </div>
            </div>
        </div>
        <div class="services-border">
            <div class="row no-gutters">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-services text-center" style="background-color: #00c4cc;">
                        <h5 class="title" style="color: white;">Tiền mẫu giáo</h5>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-services item-2 text-center" style="background-color: #ff9800;">
                        <h5 class="title" style="color: white;">Mẫu giáo</h5>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-services item-3 text-center" style="background-color: #4caf50;">
                        <h5 class="title" style="color: white;">Lớp 1</h5>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-services item-4 text-center" style="background-color: #f44336;">
                        <h5 class="title" style="color: white;">Lớp 2</h5>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-services item-5 text-center" style="background-color: #cddc39;">
                        <h5 class="title" style="color: white;">Lớp 3</h5>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-services item-6 text-center" style="background-color: #9c27b0;">
                        <h5 class="title" style="color: white;">Lớp 4</h5>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-services item-7 text-center" style="background-color: #4caf50;">
                        <h5 class="title" style="color: white;">Lớp 5</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--====== SERVICES  PART ENDS ======-->


<!--====== SERVICES  PART START ======-->
<section class="access-area pt-120 pb-120">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="access-thumb">
                    <img src="<?=$setting['template']?>/assets-frontend/images/math/image.png" alt="access">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="access-content">
                    <div class="access-title">
                        <h3 class="title" style="color: #ff7e5f;">Giải pháp dành cho phụ huynh</h4>
                    </div>
                    <div class="access-mission">
                        <div class="polite-item">
                            <h4 style="margin: 20px;"><i class="fa fa-plus"></i> Theo dõi kết quả học của bé</h4>
                        </div>
                        <div class="polite-item">
                            <h4 style="margin: 20px;"><i class="fa fa-plus"></i> Biểu đồ năng lực</h4>
                        </div>
                        <div class="polite-item">
                            <h4 style="margin: 20px;"><i class="fa fa-plus"></i> Gợi ý học thêm tại nhà</h4>
                        </div>
                        <div class="polite-item">
                            <h4 style="margin: 20px;"><i class="fa fa-plus"></i> Cảnh báo khi bé học chậm</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--====== SERVICES  PART ENDS ======-->

<section class="services-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-11">
                <div class="section-title text-center">
                    <h3 class="title" style="padding-bottom: 0px; color: #ff7e5f;">Đơn vị liên kết</h3>
                </div>
            </div>
        </div>
</section>

<section class="speakers-area pb-90">
    <div class="container">
        <div class="swiper speakers-swiper position-relative">
            <div class="swiper-wrapper">
                <!-- Speaker 1 -->
                <div class="swiper-slide">
                    <div class="single-speakers mt-30 text-center">
                        <div class="speakers-thumb">
                            <img class="img-fluid w-75"
                                src="<?=$setting['template']?>/assets-frontend/images/event-mentor-3.png" alt="">
                        </div>
                        <div class="speakers-content">
                            <h4 class="title">GD. TS. Trần Thị Lâm Thủy</h4>
                        </div>
                    </div>
                </div>
                <!-- Speaker 2 -->
                <div class="swiper-slide">
                    <div class="single-speakers mt-30 text-center">
                        <div class="speakers-thumb">
                            <img class="img-fluid w-75"
                                src="<?=$setting['template']?>/assets-frontend/images/event-mentor-4.png" alt="">
                        </div>
                        <div class="speakers-content">
                            <h4 class="title">PGD. ThS Lực Hà Du Nguyên</h4>
                        </div>
                    </div>
                </div>
                <!-- Speaker 3 -->
                <div class="swiper-slide">
                    <div class="single-speakers mt-30 text-center">
                        <div class="speakers-thumb">
                            <img class="img-fluid w-75"
                                src="<?=$setting['template']?>/assets-frontend/images/event-mentor-5.png" alt="">
                        </div>
                        <div class="speakers-content">
                            <h4 class="title">CV. Phạm Xuân Tý</h4>
                        </div>
                    </div>
                </div>
                <!-- Speaker 4 -->
                <div class="swiper-slide">
                    <div class="single-speakers mt-30 text-center">
                        <div class="speakers-thumb">
                            <img class="img-fluid w-75"
                                src="<?=$setting['template']?>/assets-frontend/images/event-mentor-5.png" alt="">
                        </div>
                        <div class="speakers-content">
                            <h4 class="title">CV. Phạm Xuân Thành</h4>
                        </div>
                    </div>
                </div>
                <!-- Speaker 5 -->
                <div class="swiper-slide">
                    <div class="single-speakers mt-30 text-center">
                        <div class="speakers-thumb">
                            <img class="img-fluid w-75"
                                src="<?=$setting['template']?>/assets-frontend/images/event-mentor-5.png" alt="">
                        </div>
                        <div class="speakers-content">
                            <h4 class="title">CV. Phạm Xuân Thành</h4>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Thêm phân trang dots -->
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>

<!--====== OFFER PART START ======-->
<section class="we-do-area" style="padding-bottom: 0px;">
    <div class="row justify-content-center">
        <div class="section-title section-title-2 text-center">
            <h3 class="title">Top dịch vụ của <span style="color: red;">CORE</span></h3>
            <h3 class="title">được Doanh nghiệp lựa chọn</h3>
        </div>
    </div>
</section>


<section class="advance-courses-area advance-courses-area-2 pb-120 pt-105 bg_cover" style="background-color: #ed1c24;">
    <div class="container">
        <div class="row courses-active">
            <?php foreach ($services as $service): ?>
            <div class="col-lg-4">
                <div class="single-courses mt-30">
                    <div class="courses-thumb">
                        <img src="<?=$setting['template']?>/<?= $service['service_image'] ?>" alt="courses">
                        <div class="courses-review">
                            <span><i class="fas fa-star"></i>
                                <?= $service['rate'] ?>
                            </span>
                        </div>
                        <div class="corses-thumb-title">
                            <span>
                                <?= $service['category_name'] ?>
                            </span>
                        </div>
                    </div>
                    <div class="courses-content">
                        <a href="/services-detail/<?= $service['service_slug'] ?>">
                            <h4 class="title">
                                <?= $service['service_title'] ?>
                            </h4>
                        </a>
                        <div class="courses-info d-flex justify-content-between">
                            <div class="item">
                                <img src="<?= $service['author_image'] ?>" alt="courses info">
                                <p>
                                    <?= $service['author_name'] ?>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <?php endforeach; ?>
        </div>
    </div>
</section>

<!--====== OFFER PART ENDS ======-->

<!--======COMMUNITY PART START ======-->

<section class="community-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="community-content">
                    <h3 class="title">Đào tạo ngắn hạn <span>& Cấp chứng chỉ</span></h3>
                    <div class="polite-item">
                        <h4 style="margin: 20px;">CHẤT LƯỢNG – ĐA DẠNG – LINH HOẠT</h4>
                    </div>
                    <div class="polite-item">
                        <h4 style="margin: 20px;"><i class="fa fa-share"></i> Chất lượng tiên phong</h4>
                    </div>
                    <div class="polite-item">
                        <h4 style="margin: 20px;"><i class="fa fa-share"></i> Đa dạng chủ đề – Phù hợp mọi nhu cầu</h4>
                    </div>
                    <div class="polite-item">
                        <h4 style="margin: 20px;"><i class="fa fa-share"></i> Đào tạo ngắn hạn – Giá trị dài lâu</h4>
                    </div>
                    <form action="#">
                        <div class="input-box">
                            <button type="submit" style="margin-top: 20px;">TRUY CẬP</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="community-thumb d-none d-lg-block">
        <img src="<?=$setting['template']?>/assets-frontend/images/Media/trangchu/3.png" alt="community">
    </div>
</section>

<!--======COMMUNITY PART ENDS ======-->


<!--====== COUNTER PART START ======-->

<section class="counter-area bg_cove"
    style="background-image: url(<?=$setting['template']?>/assets-frontend/images/Media/trangchu/4.jpg)">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-title text-center">
                    <h3 class="title">Khách hàng & Đối tác của CORE</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-5 col-sm-6">
                <div class="counter-item text-center pt-40">
                    <h3 class="title"><span class="counter">110</span>+</h3>
                    <span>Doanh nghiệp</span>
                </div>
            </div>
            <div class="col-lg-4 col-md-5 col-sm-6">
                <div class="counter-item text-center pt-40 item-2">
                    <h3 class="title"><span class="counter">15</span>+</h3>
                    <span>Trường học</span>
                </div>
            </div>
            <div class="col-lg-4 col-md-5 col-sm-6">
                <div class="counter-item text-center pt-40 item-3">
                    <h3 class="title"><span class="counter">123</span>+</h3>
                    <span>Giảng viên - Doanh nhân</span>
                </div>
            </div>
        </div>
    </div>
</section>

<!--====== COUNTER PART ENDS ======-->

<!--====== TESTIMONIALS PART START ======-->

<section class="testimonials-area pb-115 bg_cover" style="background-color:white;">
    <div class="container">
        <div class="row testimonials-active">
            <div class="col-lg-12">
                <div class="testimonials-content text-center">
                    <h3 class="title"><span style="color: red;"> Khách hàng nói gì về chúng tôi</span></h3>
                    <p>Không chỉ là một khóa học – đây là bước ngoặt giúp đội ngũ chúng tôi thay đổi tư duy và làm chủ
                        văn hóa doanh nghiệp.</p>
                    <img src="<?=$setting['template']?>/assets-frontend/images/testimonials-thumb-1.png"
                        alt="testimonials">
                    <h5>CEO Công ty TNHH Đổi Mới Việt</h5>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="testimonials-content text-center">
                    <h3 class="title"><span style="color: red;"> Khách hàng nói gì về chúng tôi</span></h3>
                    <p>Không chỉ là một khóa học – đây là bước ngoặt giúp đội ngũ chúng tôi thay đổi tư duy và làm chủ
                        văn hóa doanh nghiệp.</p>
                    <img src="<?=$setting['template']?>/assets-frontend/images/testimonials-thumb-2.png"
                        alt="testimonials">
                    <h5>CEO Công ty TNHH Đổi Mới Việt</h5>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="testimonials-content text-center">
                    <h3 class="title"><span style="color: red;"> Khách hàng nói gì về chúng tôi</span></h3>
                    <p>Không chỉ là một khóa học – đây là bước ngoặt giúp đội ngũ chúng tôi thay đổi tư duy và làm chủ
                        văn hóa doanh nghiệp.</p>
                    <img src="<?=$setting['template']?>/assets-frontend/images/testimonials-thumb-3.png"
                        alt="testimonials">
                    <h5>CEO Công ty TNHH Đổi Mới Việt</h5>
                </div>
            </div>
        </div>
    </div>
</section>

<!--====== TESTIMONIALS PART ENDS ======-->


<!-- Swiper JS -->
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script>
    const swiper = new Swiper(".speakers-swiper", {
        loop: true,
        slidesPerView: 4,
        spaceBetween: 30,
        autoplay: {
            delay: 3000,
            disableOnInteraction: false,
        },
        navigation: {
            nextEl: "#rightArrow",
            prevEl: "#leftArrow",
        },
        pagination: {
            el: ".swiper-pagination", 
            clickable: true
        },
        breakpoints: {
            0: {
                slidesPerView: 1,
            },
            768: {
                slidesPerView: 2,
            },
            992: {
                slidesPerView: 3,
            },
            1200: {
                slidesPerView: 4,
            }
        }
    });

</script>