
   <!--====== BANNER PART START ======-->

    <div class="page-title bg_cover mt-80 pt-140 pb-140" style="background-image: url(<?=$setting['template']?>/assets-frontend/images/Media/trangchu/Banner\ chính.jpg)">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <div class="page-title-item text-center">
                        <h3 class="title">CORE</h3>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Quản trị</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div class="login-container">
    <form class="login-form" method="POST" action="/login" id="login-form">
        <input type="text" name="email" placeholder="Tên đăng nhập / Email" class="form-input" required>
        <input type="password" name="password" placeholder="Mật khẩu" class="form-input" required>
        <!-- <div class="remember-container"> -->
            <!-- <input type="checkbox" id="remember" name="remember" value="1"> -->
            <!-- <label for="remember">Ghi nhớ tài khoản</label> -->
        <!-- </div> -->
        <div class="btn-container">
            <button class="btn-login" type="submit" data-action="submit" data-load="/admin/consultation" ><?=$jatbi->lang("ĐĂNG NHẬP")?></button>
        </div>
    </form>

</div>

