<div class="modal fade modal-load auth-modal" tabindex="-1" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="row g-0">
                <div class="col-md-5 auth-modal-image">
                    <img src="<?=$setting['template']?>/assets-frontend/images/math/Bob.png" alt="welcom bear">
                </div>

                <div class="col-md-7 auth-modal-form">
                    <button type="button" class="auth-modal-close" data-bs-dismiss="modal" aria-label="Close"><i
                            class="fa fa-close"></i></button>

                    <h2 class="auth-modal-title">ĐĂNG NHẬP</h2>

                    <form>
                        <div class="mb-3">
                            <input type="text" class="form-control auth-modal-input" placeholder="Tài khoản">
                        </div>
                        <div class="mb-4">
                            <input type="password" class="form-control auth-modal-input" placeholder="Mật khẩu">
                        </div>
                        <div class="d-flex justify-content-center">
                            <button type="submit" class="auth-modal-button">ĐĂNG NHẬP</button>
                            <a type="button" class="page-scroll" data-action="modal" data-url="/role"
                                data-bs-toggle="modal" data-bs-target=".modal-load">
                                Đăng ký
                            </a>

                        </div>
                    </form>

                    <div class="auth-modal-links">
                        <p><a href="#">Quên mật khẩu >></a></p>
                        <p style="color: black;">Bạn chưa có tài khoản? <a href="#">đăng ký ngay >></a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>