     <!--====== PAGE TITLE PART START ======-->

    <div class="page-title bg_cover mt-80 pt-140 pb-140" style="background-image: url(<?=$setting['template']?>/assets-frontend/images/Media/trangchu/Banner\ chính.jpg)">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="page-title-item text-center">
                        <h3 class="title">CORE</h3>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
                                <li class="breadcrumb-item"><a href="/projects">Dự án</a></li>
                                <li class="breadcrumb-item active" aria-current="page"><?=$title ?? "Chi tiết dự án"?></li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--====== PAGE TITLE PART ENDS ======-->

    <!--====== COURSE DETAILS PART START ======-->

    <section class="course-details-area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="course-details-items white-bg">
                        <div class="course-thumb">
                            <div class="tab-btns">
                                <ul class="nav nav-pills d-flex" id="pills-tab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="pills-1-tab" data-toggle="pill" href="#pills-1" role="tab" aria-controls="pills-1" aria-selected="true"><i class="fal fa-list"></i> Overview</a>
                                    </li>
                                    
                                    <li class="nav-item">
                                        <a class="nav-link" id="pills-2-tab" data-toggle="pill" href="#pills-2" role="tab" aria-controls="pills-2" aria-selected="false"><i class="fal fa-stars"></i> Reviews</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="pills-1" role="tabpanel" aria-labelledby="pills-1-tab">
                                <div class="course-details-item">
                                    <div class="course-text">
                                        <p><?= $project['excerpt'] ?></p>
                                    </div>
                                    <div class="course-learn-list">
                                        <h4 class="title"><?= $project['title'] ?> </h4>
                                        <div class="row">
                                            <?= $project['description'] ?>
                                            <!-- <div class="col-lg-6">
                                                <div class="course-learn-item">
                                                    <i class="fal fa-check"></i>
                                                    <p>Learn to use Python professionally, learning both Python 2 and Python 3!</p>
                                                </div>
                                                <div class="course-learn-item">
                                                    <i class="fal fa-check"></i>
                                                    <p>Learn to use Python professionally, learning both Python 2 and Python 3!</p>
                                                </div>
                                                <div class="course-learn-item">
                                                    <i class="fal fa-check"></i>
                                                    <p>Learn to use Python professionally, learning both Python 2 and Python 3!</p>
                                                </div>
                                                <div class="course-learn-item">
                                                    <i class="fal fa-check"></i>
                                                    <p>Learn to use Python professionally, learning both Python 2 and Python 3!</p>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="course-learn-item">
                                                    <i class="fal fa-check"></i>
                                                    <p>Learn to use Python professionally, learning both Python 2 and Python 3!</p>
                                                </div>
                                                <div class="course-learn-item">
                                                    <i class="fal fa-check"></i>
                                                    <p>Learn to use Python professionally, learning both Python 2 and Python 3!</p>
                                                </div>
                                                <div class="course-learn-item">
                                                    <i class="fal fa-check"></i>
                                                    <p>Learn to use Python professionally, learning both Python 2 and Python 3!</p>
                                                </div>
                                                <div class="course-learn-item">
                                                    <i class="fal fa-check"></i>
                                                    <p>Learn to use Python professionally, learning both Python 2 and Python 3!</p>
                                                </div>
                                            </div> -->
                                        </div>
                                    </div>
                                    <div class="course-learner-slide">
                                        <?php foreach ($project_images as $project_image): ?>
                                            <div class="course-learner-item text-center">
                                                <div class="course-learner-thumb mx-auto" style="width: 300px; height: 300px; overflow: hidden;">
                                                    <img src="<?=$setting['template']?>/<?=$project_image['image_url'] ?>" 
                                                        alt="learner" 
                                                        class="w-100 h-100" 
                                                        style="object-fit: cover; display: block;">
                                                </div>
                                                <div class="course-learner-content mt-2">
                                                    <h5 class="title mb-0"><?= $project_image['caption']?></h5>
                                                </div>
                                            </div>
                                        <?php endforeach; ?>
                                    </div>  
                                </div>
                            </div>
                            <div class="tab-pane fade" id="pills-2" role="tabpanel" aria-labelledby="pills-2-tab">
                                <div class="course-details-item">
                                    <div class="course-text">
                                        <p>This is the most comprehensive, yet straight-forward, course for the Python programming language on Udemy! Whether you have never programmed before, already know basic syntax, or want to learn about the advanced features of Python, this course is for you! In this course we will teach you Python 3. (Note, we also provide older Python 2 notes in case you need them)</p>
                                    </div>
                                    <div class="course-learn-list">
                                        <h4 class="title">What you'll learn </h4>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="course-learn-item">
                                                    <i class="fal fa-check"></i>
                                                    <p>Learn to use Python professionally, learning both Python 2 and Python 3!</p>
                                                </div>
                                                <div class="course-learn-item">
                                                    <i class="fal fa-check"></i>
                                                    <p>Learn to use Python professionally, learning both Python 2 and Python 3!</p>
                                                </div>
                                                <div class="course-learn-item">
                                                    <i class="fal fa-check"></i>
                                                    <p>Learn to use Python professionally, learning both Python 2 and Python 3!</p>
                                                </div>
                                                <div class="course-learn-item">
                                                    <i class="fal fa-check"></i>
                                                    <p>Learn to use Python professionally, learning both Python 2 and Python 3!</p>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="course-learn-item">
                                                    <i class="fal fa-check"></i>
                                                    <p>Learn to use Python professionally, learning both Python 2 and Python 3!</p>
                                                </div>
                                                <div class="course-learn-item">
                                                    <i class="fal fa-check"></i>
                                                    <p>Learn to use Python professionally, learning both Python 2 and Python 3!</p>
                                                </div>
                                                <div class="course-learn-item">
                                                    <i class="fal fa-check"></i>
                                                    <p>Learn to use Python professionally, learning both Python 2 and Python 3!</p>
                                                </div>
                                                <div class="course-learn-item">
                                                    <i class="fal fa-check"></i>
                                                    <p>Learn to use Python professionally, learning both Python 2 and Python 3!</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="course-learn-text">
                                        <h4 class="title">What you'll learn </h4>
                                        <span>Become a Python Programmer and learn one of employer's most requested skills of 2019!</span>
                                        <p>With over 100 lectures and more than 20 hours of video this comprehensive course leaves no stone unturned! This course includes quizzes, tests, and homework assignments as well as 3 major projects to create a Python project portfolio!</p>
                                        <p class="pt-15 pb-15">This course will teach you Python in a practical manner, with every lecture comes a full coding screencast and a corresponding code notebook! Learn in whatever manner is best for you!</p>
                                        <p>We will start by helping you get Python installed on your computer, regardless of your operating system, whether its Linux, MacOS, or Windows, we've got you covered!</p>
                                    </div>
                                    <div class="course-learner-slide">
                                        <div class="course-learner-item d-flex align-items-center">
                                            <div class="course-learner-thumb">
                                                <img src="assets/images/learner-thumb-1.jpg" alt="learner">
                                            </div>
                                            <div class="course-learner-content">
                                                <h5 class="title">Rosalina D. Williamson</h5>
                                                <span>Python Learner</span>
                                                <p>We will start by helping you get Python installed on your computer, regardless of your operating system, whether its Linux, MacOS, or Windows, we've got you covered!</p>
                                            </div>
                                        </div>
                                        <div class="course-learner-item d-flex align-items-center">
                                            <div class="course-learner-thumb">
                                                <img src="assets/images/learner-thumb-1.jpg" alt="learner">
                                            </div>
                                            <div class="course-learner-content">
                                                <h5 class="title">Rosalina D. Williamson</h5>
                                                <span>Python Learner</span>
                                                <p>We will start by helping you get Python installed on your computer, regardless of your operating system, whether its Linux, MacOS, or Windows, we've got you covered!</p>
                                            </div>
                                        </div>
                                        <div class="course-learner-item d-flex align-items-center">
                                            <div class="course-learner-thumb">
                                                <img src="assets/images/learner-thumb-1.jpg" alt="learner">
                                            </div>
                                            <div class="course-learner-content">
                                                <h5 class="title">Rosalina D. Williamson</h5>
                                                <span>Python Learner</span>
                                                <p>We will start by helping you get Python installed on your computer, regardless of your operating system, whether its Linux, MacOS, or Windows, we've got you covered!</p>
                                            </div>
                                        </div>
                                        <div class="course-learner-item d-flex align-items-center">
                                            <div class="course-learner-thumb">
                                                <img src="assets/images/learner-thumb-1.jpg" alt="learner">
                                            </div>
                                            <div class="course-learner-content">
                                                <h5 class="title">Rosalina D. Williamson</h5>
                                                <span>Python Learner</span>
                                                <p>We will start by helping you get Python installed on your computer, regardless of your operating system, whether its Linux, MacOS, or Windows, we've got you covered!</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--====== COURSE DETAILS PART ENDS ======-->





