<div class="modal fade modal-load register-modal" tabindex="-1" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <button class="form-close-btn" data-bs-dismiss="modal" aria-label="Close">×</button>
            <div class="register-header">
                <div class="header-bear-icon">
                    <img src="<?=$setting['template']?>/assets-frontend/images/math/Logo 2.png" alt="welcom bear">
                </div>
                <h3 class="header-title">Đăng ký<br>thành viên mới</h3>
            </div>

            <div class="modal-body">
                <div class="register-body">
                    <form>
                        <div class="form-section-title">
                            <h4>Thông tin Bố/mẹ</h4>
                        </div>
                        <input type="text" class="register-input" placeholder="Họ và tên">
                        <input type="tel" class="register-input" placeholder="Số điện thoại">
                        <input type="email" class="register-input" placeholder="Email">

                        <div class="form-section-title">
                            <h4>Thông tin học sinh</h4>
                        </div>
                        <input type="text" class="register-input" placeholder="Họ và tên">
                        <input type="text" class="register-input" placeholder="Ngày sinh">

                        <div class="form-section-title">
                            <h4>Thông tin tài khoản</h4>
                        </div>
                        <input type="text" class="register-input" placeholder="Tên tài khoản">
                        <input type="password" class="register-input" placeholder="Mật khẩu">

                        <div class="checkbox-groups">
                            <div class="form-check">
                                <input type="checkbox" id="robotCheck">
                                <label for="robotCheck">I'm not a robot</label>
                            </div>
                            <div class="form-check">
                                <input type="checkbox" id="infoCheck">
                                <label for="infoCheck">Tôi muốn nhận các thông tin từ VMIED</label>
                            </div>
                        </div>

                        <div class="form-notice">
                            <p>- Mọi thông tin đều không được để trống.</p>
                            <p>- Bằng cách ấn nút "ĐĂNG KÝ" tôi đồng ý với <a href="#">Điều khoản sử dụng</a> và <a
                                    href="#">Chính sách bảo mật</a> của VMIED</p>
                        </div>
                    </form>
                </div>

                <div class="register-btn-wrapper">
                    <button class="register-btn">ĐĂNG KÝ</button>
                </div>
            </div>

        </div>
    </div>
</div>