<div class="modal fade modal-load role-select-modal" data-bs-backdrop="static" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="row g-0">

                <div class="col-md-5 modal-image-side">
                    <img src="<?=$setting['template']?>/assets-frontend/images/math/Bob.png" alt="welcom bear">
                </div>

                <div class="col-md-7 modal-options-side">
                    <button type="button" class="modal-close-button" data-bs-dismiss="modal" aria-label="Close">×</button>
                    
                    <h2 class="options-title">Bạn là ai?</h2>

                    <div class="options-wrapper">
                        <a href="#" class="option-item">
                            <div class="option-circle">
                                <svg viewBox="0 0 24 24"><path d="M12 14.5V15.5M12 12.5C12 10.25 14.5 9.5 14.5 7.5C14.5 5.5 13 4.5 12 4.5C10.5 4.5 9.5 5.5 9.5 7.5" stroke="white" stroke-width="2.5" fill="none" stroke-linecap="round" stroke-linejoin="round"/></svg>
                            </div>
                            <p class="option-label">Tên nhân vật</p>
                        </a>

                        <a href="#" class="option-item">
                            <div class="option-circle">
                               <svg viewBox="0 0 24 24"><path d="M17 18C17 15.7909 15.2091 14 13 14C10.7909 14 9 15.7909 9 18M13 11C14.6569 11 16 9.65685 16 8C16 6.34315 14.6569 5 13 5C11.3431 5 10 6.34315 10 8C10 9.65685 11.3431 11 13 11ZM8 18C8 16.3431 6.65685 15 5 15C3.34315 15 2 16.3431 2 18M5 12C6.10457 12 7 11.1046 7 10C7 8.89543 6.10457 8 5 8C3.89543 8 3 8.89543 3 10C3 11.1046 3.89543 12 5 12Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>
                            </div>
                            <p class="option-label">Bố Mẹ</p>
                        </a>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>