<div class="modal fade modal-load" tabindex="-1"  data-bs-backdrop="static">
	<div class="modal-dialog modal-sm pt-standalone">
		<div class="modal-content rounded-5">
			<div class="d-flex w-100 justify-content-end align-items-center position-relative">
				<button type="button" class="btn btn-primary position-absolute z-1 rounded-circle d-flex align-items-center justify-content-center width height top right" data-bs-dismiss="modal" aria-label="Close " style="--width:50px;--height:50px;--top:-5px;--right:-5px">
					<i class="ti ti-x fs-4"></i>
				</button>
			</div>
			<div class="modal-body">
				<h5 class="fw-bold text-body mb-3"><?=$title?></h5>
				<form method="POST" action="<?=$_SERVER['REQUEST_URI']?>">
					<div class="row g-3">
						<div class="col-lg-12">
							<div class="mb-3">
								<label class="fw-bold text-body mb-2"><?=$jatbi->lang("IP")?> <span class="text-danger">*</span></label>
								<input type="text" name="ip" class="form-control py-3 rounded-4 bg-body-tertiary" placeholder="<?=$jatbi->lang("IP")?>" value="<?=$data['ip'] ?? ''?>">
							</div>
							<div class="mb-3">
								<label class="fw-bold text-body mb-2"><?=$jatbi->lang("Ghi chú")?></label>
								<textarea name="notes" class="form-control py-3 rounded-4 bg-body-tertiary" placeholder="<?=$jatbi->lang("Ghi chú")?>"><?=$data['notes'] ?? ''?></textarea>
							</div>
							<div class="mb-3">
								<label class="fw-bold text-body mb-2"><?=$jatbi->lang("Trạng thái")?> <span class="text-danger">*</span></label>
								<select data-select data-style="form-select bg-body-tertiary py-3 rounded-4 w-100" data-live-search="true" data-width="100%"  name="status">
									<option value="A" <?=$data['status'] == 'A'?'selected':''?>><?=$jatbi->lang('Kích hoạt')?></option>
									<option value="D" <?=$data['status'] == 'D'?'selected':''?>><?=$jatbi->lang('Không kích hoạt')?></option>
								</select>
							</div>
						</div>
						<div class="col-lg-12">
							<button type="submit" class="btn btn-primary w-100 py-3 rounded-pill fw-bold" data-action="submit" data-alert="true" data-load="this"><?=$jatbi->lang("Hoàn thành")?></button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>