<div class="container">
	<div class="mb-3 d-flex justify-content-between align-items-center">
        <div>
            <h4 class="mb-0 fw-bold text-body"><?=$title?></h4>
            <ul class="breadcrumb small mb-0">
                <li class="breadcrumb-item small">
                    <a href="/" class="pjax-load link-secondary"><?=$jatbi->lang("Trang chủ")?></a>
                </li>
                <li class="breadcrumb-item small text-body" aria-current="page"><?=$title?></li>
            </ul>
        </div>
        <div class="filter-search">
            <div class="d-flex align-items-center justify-content-end">
                <div class="dropdown">
                    <button class="btn btn-primary-light border-0 rounded-pill small d-flex align-items-center" type="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside" >
                        <i class="ti ti-filter fs-5 me-2"></i> <?=$jatbi->lang("Điều kiện lọc")?>
                    </button>
                    <div class="dropdown-menu dropdown-menu-end border-0 shadow-lg rounded-4 min-width bg-blur" style="--min-width:300px;--min-width-xs:100vw">
                        <div class="fw-semibold py-2 px-3">
                            <?=$jatbi->lang("Điều kiện lọc")?>
                        </div>
                        <hr class="border-secondary border-opacity-50 my-2">
                        <div class="px-3">
                           <?=$app->component('input',[
                                "name"=>'date',
                                "type" => "date",
                                "placeholder"=>$jatbi->lang("Ngày"),
                                "selected" => $app->xss($_GET['date'] ?? ''),
                                "class" => 'filter-name',
                            ])?>
                        </div>
                        <hr class="border-secondary border-opacity-50 my-2">
                        <div class="px-3 py-2 text-end w-100">
                            <button type="button" class="btn btn-light px-3 rounded-pill py-2 reset-filter"><?=$jatbi->lang("Làm mới")?></button>
                            <button type="button" class="btn btn-primary px-3 rounded-pill py-2 button-filter"><?=$jatbi->lang("Tìm")?></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
	<div class="card bg-body bg-opacity-50 shadow border-0 rounded-4">
		<div class="card-body">
            <table id="datatable" 
                    data-table 
                    class="table align-middle" 
                    data-type="POST" 
                    data-server="true" 
                    data-processing="true" 
                    data-page-length="10"
                    data-searching="true"
                    data-paging="true"
                    data-state-save='true'
                    style="width:100%">
                <thead>
                    <tr>
                        <th data-name="checkbox" data-orderable="false" class="text-nowrap " data-visible="true" data-class="text-center"><div class="form-check"><input class="form-check-input checkall" type="checkbox" value="" data-checkbox="input.checker"></div></th>
                        <th data-name="user" data-orderable="true" class="text-nowrap" data-class="text-nowrap"><?=$jatbi->lang("Tài khoản")?></th>
                        <th data-name="content" data-orderable="true" class="text-nowrap" data-class="text-nowrap"><?=$jatbi->lang("Nội dung")?></th> 
                        <th data-name="ip" data-orderable="true" class="text-nowrap"  data-class="text-nowrap"><?=$jatbi->lang("IP")?></th>                
                        <th data-name="date" data-orderable="true" class="text-nowrap"  data-class="text-nowrap"><?=$jatbi->lang("Ngày")?></th>               
                        <th data-name="action" data-orderable="false" class="text-nowrap text-end" data-class="text-end"><?=$jatbi->lang("Tùy chọn")?></th>      
                    </tr>
                </thead>
            </table>
		</div>
	</div>
</div>