    <!--====== FOOTER PART START ======-->


    <footer class="footer-area">
        <div class="container">
            <div class="row">
                <!-- <div class="col-lg-3 col-md-5">
                    <div class="footer-item mt-30">
              
                        <div class="footer-list-area">
                            <div class="footer-list">
                                <img src="<?=$setting['template']?>/assets-frontend/images/Media/CORE 2.png" alt="CORE Logo">                            
                            </div>
                        </div>
                    </div>
                </div> -->
                <div class="col-lg-5 col-md-7">
                    <div class="footer-item mt-30">
                        <div class="footer-title item-2">
                            <i class="fal fa-link"></i>
                            <h4 class="title">Liên kết nhanh</h4>
                        </div>
                        <div class="footer-list-area">
                            <div class="footer-list justify-content-between pr-30 d-block d-sm-flex">
                                <ul>
                                    <li><a href="#"><i class="fal fa-angle-right"></i> Trang chủ</a></li>
                                    <li><a href="#"><i class="fal fa-angle-right"></i> Giới thiệu</a></li>
                                    <li><a href="#"><i class="fal fa-angle-right"></i> Dịch vụ doanh nghiệp</a></li>
                                    <li><a href="#"><i class="fal fa-angle-right"></i> Tổ chức sự kiện</a></li>
                                    <li><a href="#"><i class="fal fa-angle-right"></i> Tin tức</a></li>
                                </ul>
                                <ul>
                                    <li><a href="#"><i class="fal fa-angle-right"></i> Dự án</a></li>
                                    <li><a href="#"><i class="fal fa-angle-right"></i> Tài liệu số</a></li>
                                    <li><a href="#"><i class="fal fa-angle-right"></i> Đặt lịch tư vấn</a></li>
                                    <li><a href="#"><i class="fal fa-angle-right"></i> Đào tạo ngắn hạn</a></li>
                                    <li><a href="#"><i class="fal fa-angle-right"></i> Chính sách & Điều khoản</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
        <div class="col-lg-3 col-md-5">               
            <div class="footer-item mt-30">
                        <div class="footer-title">
                            <i class="fal fa-phone"></i>
                            <h4 class="title">Liên hệ</h4>
                        </div>
                        <div class="footer-list-area">
                            <div class="footer-list">
                                <ul>
                                    <li><a href="#"><i class="fal fa-phone"></i>0934827742</a></li>
                                    <li><a href="#"><i class="fal fa-envelope"></i> core@dhv.edu.vn</a></li>
                                    <li><a href="#"><i class="fal fa-map-marker"></i> 736 Nguyễn Trãi, Phường 11, Quận 5, TP. HCM</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                    <div class="col-lg-4">
                    <div class="footer-item mt-30">
                        <div class="footer-title item-3">
                            <i class="fal fa-magic"></i>
                            <h4 class="title">Hình ảnh</h4>
                        </div>
                        <div class="footer-instagram">
                            <div class="instagram-item d-flex">
                                <div class="item">
                                    <img src="<?=$setting['template']?>/assets-frontend/images/intro Tập Huấn/1.JPG" alt="instagram">
                                </div>
                                <div class="item">
                                    <img src="<?=$setting['template']?>/assets-frontend/images/intro Tập Huấn/2.JPG" alt="instagram">
                                </div>
                                <div class="item">
                                    <img src="<?=$setting['template']?>/assets-frontend/images/intro Tập Huấn/3.JPG" alt="instagram">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!--====== FOOTER PART ENDS ======-->

    <!--====== BACK TO TOP ======-->
    <div class="back-to-top">
        <a href="#">
            <i class="fal fa-chevron-double-up"></i>
        </a>
    </div>
    <!--====== BACK TO TOP ======-->
    
    <!--====== jquery js ======-->
    <script src="<?=$setting['template']?>/assets-frontend/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="<?=$setting['template']?>/assets-frontend/js/vendor/jquery-1.12.4.min.js"></script>

    <!--====== Bootstrap js ======-->
    <script src="<?=$setting['template']?>/assets-frontend/js/bootstrap.min.js"></script>
    <script src="<?=$setting['template']?>/assets-frontend/js/popper.min.js"></script>

    <!--====== Slick js ======-->
    <script src="<?=$setting['template']?>/assets-frontend/js/slick.min.js"></script>

    <!--====== Isotope js ======-->
    <script src="<?=$setting['template']?>/assets-frontend/js/isotope.pkgd.min.js"></script>

    <!--====== Images Loaded js ======-->
    <script src="<?=$setting['template']?>/assets-frontend/js/imagesloaded.pkgd.min.js"></script>

    <!--====== owl carousel js ======-->
    <script src="<?=$setting['template']?>/assets-frontend/js/owl.carousel.min.js"></script>

    <!--====== nice select js ======-->
    <script src="<?=$setting['template']?>/assets-frontend/js/jquery.nice-select.min.js"></script>

    <!--====== wow js ======-->
    <script src="<?=$setting['template']?>/assets-frontend/js/wow.min.js"></script>

    <!--====== counterup js ======-->
    <script src="<?=$setting['template']?>/assets-frontend/js/jquery.counterup.min.js"></script>

    <!--====== waypoints js ======-->
    <script src="<?=$setting['template']?>/assets-frontend/js/waypoints.min.js"></script>

    <!--====== Magnific Popup js ======-->
    <script src="<?=$setting['template']?>/assets-frontend/js/jquery.magnific-popup.min.js"></script>


    <!--====== Ajax Contact js ======-->
    <script src="<?=$setting['template']?>/assets-frontend/js/ajax-contact.js"></script>
    <script src="<?=$setting['template']?>/assets/js/sweetalert2.all.min.js"></script>
    <script src="<?=$setting['template']?>/assets/js/pjax.min.js"></script>
    <script src="<?=$setting['template']?>/assets/js/topbar.min.js"></script>

    <!--====== Main js ======-->
    <script src="<?=$setting['template']?>/assets-frontend/js/main.js"></script>
    

    <script src="<?=$setting['template']?>/assets/js/sweetalert2.all.min.js"></script>

    <!--====== Recaptcha js ======-->
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script src="<?=$setting['template']?>/assets/js/main.js"></script>

    <!-- <script src="<?=$setting['template']?>/assets/js/main.js"></script> -->



</body>


<!-- Mirrored from themeforest.kreativdev.com/edus/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 21 May 2025 05:01:53 GMT -->
</html>