    </div>
    <script src="<?=$setting['template']?>/assets/js/jquery-3.7.1.min.js"></script>
    <script src="<?=$setting['template']?>/assets/js/bootstrap.bundle.min.js"></script>
    <script src="<?=$setting['template']?>/assets/js/crypto-js.min.js"></script>
    <script src="<?=$setting['template']?>/assets/js/sweetalert2.all.min.js"></script>
    <script src="<?=$setting['template']?>/assets/js/lazysizes.min.js" async></script>
    <script src="<?=$setting['template']?>/assets/js/ls.bgset.min.js" async></script>
    <script src="<?=$setting['template']?>/assets/js/infinite-ajax-scroll.min.js"></script>
    <script src="<?=$setting['template']?>/assets/js/pjax.min.js"></script>
    <script src="<?=$setting['template']?>/assets/js/topbar.min.js"></script>
    <script src="<?=$setting['template']?>/assets/js/datatables.min.js"></script>
    <script src="<?=$setting['template']?>/assets/plugins/bootstrap-select/js/bootstrap-select.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.js"></script>

    <!-- <script src="<?=$setting['template']?>/assets/js/socket.js?=v4"></script> -->
    <script src="<?=$setting['template']?>/assets/js/main.js"></script>
</body>
</html>