<div class="modal fade modal-load" tabindex="-1">
	<div class="modal-dialog modal-dialog-centered  pt-standalone">
		<div class="modal-content rounded-5">
			<div class="d-flex w-100 justify-content-end align-items-center position-relative">
				<button type="button" class="btn btn-primary position-absolute z-1 rounded-circle d-flex align-items-center justify-content-center width height top right" data-bs-dismiss="modal" aria-label="Close " style="--width:50px;--height:50px;--top:-5px;--right:-5px">
					<i class="ti ti-x fs-4"></i>
				</button>
			</div>
			<div class="modal-body">
				<h5 class="fw-bold text-body mb-3"><?=$jatbi->lang("Đổi mật khẩu")?></h5>
				<form method="POST" action="<?=$_SERVER['REQUEST_URI']?>">
					<div class="mb-3">
						<label><?=$jatbi->lang('Mật khẩu cũ')?> <small class="text-danger">*</small></label>
						<input placeholder="<?=$jatbi->lang('Mật khẩu cũ')?>" type="password" name="password-old" value="" class="form-control py-3 rounded-4 bg-body-tertiary">
					</div>
					<div class="mb-3">
						<label><?=$jatbi->lang('Mật khẩu mới')?> <small class="text-danger">*</small></label>
						<input placeholder="<?=$jatbi->lang('Mật khẩu mới')?>" type="password" name="password" value="" class="form-control py-3 rounded-4 bg-body-tertiary">
					</div>
					<div class="mb-3">
						<label><?=$jatbi->lang('Xác nhận mật khẩu')?> <small class="text-danger">*</small></label>
						<input placeholder="<?=$jatbi->lang('Xác nhận mật khẩu')?>" type="password" name="password-confirm" value="" class="form-control py-3 rounded-4 bg-body-tertiary">
					</div>
					<div class="mb-3 text-end">
						<button type="submit" class="btn btn-primary w-100 py-3 rounded-pill" data-action="submit" data-alert="true" data-load="this"><?=$jatbi->lang("Thay đổi")?></button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>