<div class="container">
	<div class="mb-3 d-flex justify-content-between align-items-center">
        <div>
            <h4 class="mb-0 fw-bold text-body"><?=$title?></h4>
            <ul class="breadcrumb small mb-0">
                <li class="breadcrumb-item small">
                    <a href="/" class="pjax-load link-secondary"><?=$jatbi->lang("Trang chủ")?></a>
                </li>
                <li class="breadcrumb-item small text-body" aria-current="page"><?=$title?></li>
            </ul>
        </div>
        <div class="filter-search">
            <div class="d-flex align-items-center justify-content-end">
                <div class="dropdown">
                    <button class="btn btn-primary-light fw-semibold border-0 rounded-pill small d-flex align-items-center" type="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside" >
                        <i class="ti ti-filter fs-5 me-2"></i> <?=$jatbi->lang("Điều kiện lọc")?>
                    </button>
                    <div class="dropdown-menu dropdown-menu-end border-0 shadow-lg rounded-4 min-width bg-blur" style="--min-width:300px;--min-width-xs:100vw">
                        <div class="fw-semibold py-2 px-3">
                            <?=$jatbi->lang("Điều kiện lọc")?>
                        </div>
                        <hr class="border-secondary border-opacity-50 my-2">
                        <div class="px-3">
                           <?=$app->component('select',[
                                "name"=>'status',
                                "placeholder"=>$jatbi->lang("Trạng thái"),
                                "selected" => $app->xss($_GET['status'] ?? ''),
                                "class" => 'filter-name',
                                "attr" => 'data-width="100%"',
                                "options" => [["value"=>"A","text"=>$jatbi->lang("Kích hoạt")],["value"=>"D","text"=>$jatbi->lang("Không Kích hoạt")],]
                            ])?>
                        </div>
                        <hr class="border-secondary border-opacity-50 my-2">
                        <div class="px-3 py-2 text-end w-100">
                            <button type="button" class="btn btn-light px-3 rounded-pill py-2 reset-filter"><?=$jatbi->lang("Làm mới")?></button>
                            <button type="button" class="btn btn-primary px-3 rounded-pill py-2 button-filter"><?=$jatbi->lang("Tìm")?></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <?php if($jatbi->permission(['permission.deleted']) == 'true' || $jatbi->permission(['permission.add']) == 'true'){ ?>
    <div class="position-fixed bottom right z-3 dropup-center dropup" style="--bottom:20px;--right:20px">
        <button class="btn btn-info rounded-circle width height d-flex align-items-center justify-content-center " style="--width:60px;--height:60px;" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="ti ti-menu-2 fs-2" aria-hidden="true"></i>
        </button>
        <ul class="dropdown-menu min-width bg-transparent border-0 justify-content-center p-2" style="--min-width:100%">
            <?php if($jatbi->permission(['permission.deleted']) == 'true'){ ?>
            <li class="my-2">
                <a class="btn rounded-circle btn-danger width height d-flex justify-content-center align-items-center p-1" data-action="modal" data-checkbox="input.checker" data-url="/users/permission-deleted" style="--width:50px;--height:50px;">
                    <i class="ti ti-trash fs-3" aria-hidden="true"></i>
                </a>
            </li>
            <?php } ?>
            <?php if($jatbi->permission(['permission.add']) == 'true'){ ?>
            <li class="my-2">
                <a class="btn rounded-circle btn-primary width height d-flex justify-content-center align-items-center p-1" data-action="modal" data-url="/users/permission-add" style="--width:50px;--height:50px;">
                    <i class="ti ti-plus fs-3" aria-hidden="true"></i>
                </a>
            </li>
            <?php } ?>
        </ul>
    </div>
    <?php } ?>
	<div class="card bg-body bg-opacity-50 shadow border-0 rounded-4">
		<div class="card-body">
		   <div class="custom-buttons d-none">
                <div class="d-flex align-items-center justify-content-end">
                    <button class="btn rounded-pill btn-sm btn-primary d-flex align-items-center me-1" data-action="modal" data-url="/users/permission-add"><i class="ti ti-plus fs-6 me-1" aria-hidden="true"></i> <?=$jatbi->lang("Thêm")?></button>
                    <button class="btn rounded-pill btn-sm btn-danger d-flex align-items-center" data-action="modal" data-checkbox="input.checker" data-url="/users/permission-deleted"><i class="ti ti-trash fs-6 me-1" aria-hidden="true"></i> <?=$jatbi->lang("Xóa")?></button>
                </div>
            </div>
            <table id="datatable" 
                    data-table 
                    class="table align-middle" 
                    data-type="POST" 
                    data-server="true" 
                    data-processing="true" 
                    data-page-length="10"
                    data-searching="true"
                    data-paging="true"
                    data-state-save='true'
                    style="width:100%">
                <thead>
                    <tr>
                        <th data-name="checkbox" data-orderable="false" class="text-nowrap " data-visible="true" data-class="text-center"><div class="form-check"><input class="form-check-input checkall" type="checkbox" value="" data-checkbox="input.checker"></div></th>
                        <th data-name="name" data-orderable="true" class="text-nowrap " data-visible="true" data-class=""><?=$jatbi->lang("Tên")?></th>
                        <th data-name="status" data-orderable="false" class="text-nowrap " data-visible="true" data-class="text-center"><?=$jatbi->lang("Trạng thái")?></th>
                        <th data-name="action" data-orderable="false" class="text-nowrap " data-visible="true" data-class="text-end"><?=$jatbi->lang("Tùy chọn")?></th>
                    </tr>
                </thead>
            </table>
		</div>
	</div>
</div>